<%= render "users/list", user: @user, book: @book %>

<h1>Books</h1>

<table>
  <tr>
    <th>Title</td>
    <th>Opinion</td>
  </tr>
</table>

<% @books.each do |book| %>
<%= book.title %>
<%= book.body %>
<% end %>
